body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Css */
header {
    background: #f0f1f7;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
}

.headBanner {
    background: #202340;
    color: white;
    text-align: center;
    padding: 10px;
}

.headBanner>a {
    background: #202340;
    color: white;
}

.searchSection {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 65% 35%;
}

.searchSection>div {
    display: flex;
    gap: 40px;

}

.searchSection>div>a>img:first-child {
    width: 175px;
}

.searchBar {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #202340;
    border-radius: 45px;
    width: 100%;
    height: 45px;
    max-height: 45px;
    max-width: 650px;
}

.searchBar>input {
    width: 60%;
    border: none;
    height: 70%;
    padding-left: 20px;
    font-size: 16px;
    background-color: transparent;
    border-left: 2px solid rgb(133, 133, 133);
}

.searchBar>img {
    height: 100%;
    padding: 8px;
    padding-top: 11px;
    border-radius: 00 100px 100px 0;
    background-color: black;

}

.searchBar>select {
    text-align: center;
    width: 30%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    height: max-content;
}

.accountSection {
    justify-content: flex-end;
}

.accountSection>div {
    display: flex;
    gap: 40px;
}

.accountSection>div>div>a {
    text-decoration: none;
    color: black;
}

.accountSection p>a {
    text-decoration: none;
}

.accountSection>div>div {
    display: flex;
    gap: 5px;
    line-height: 45px;
}

.accountSection>div>div>img {
    height: 45px;
    padding: 5px;
}

.mobileLogo {
    opacity: 0;
    position: absolute;
    height: 45px;
}

.menuSection {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    gap: 5%;
}

.cate {
    display: flex;
    gap: 5px;
}

.cate>img {
    height: 30px;
}

.cate>p {
    line-height: 30px;
}

.menu>a {
    text-decoration: none;
    color: black;
    line-height: 30px;
    padding: 0 10px;
}

/* Header CSS Ends */

/* Login Page */

.signIn {
    max-width: 40%;
    margin: 50px 30% 50px 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.signIn>div>h2 {
    margin-bottom: 15px;
}

.signIn a {
    color: black;
}

.signIn>div>form>input[type='email'],
.signIn>div>form>input[type='password'] {
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
    margin: 4px 0;
}

.signIn>div>form>input[type='submit'] {
    margin: 20px 0 10px;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #414467;
    border: 1px solid #414467;
    padding: 10px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
}

.signIn>div>h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}

.signIn>div>p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 20px;
}

.signIn>div>.createaAccount {
    display: block;
    text-align: center;
    color: black;
    background-color: transparent;
    border: 1px solid #414467;
    padding: 10px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}



/* Login Page Ends */


/* Signup Page Starts */

.signup {
    max-width: 50%;
    margin: 50px auto;
}

.signup>div>form>input[type='email'] {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    margin: 4px 0;
}

.signup>div>form>div {
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8%;
    margin-top: 20px;
}

.signup>div>form>div>div>input {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    margin: 4px 0;
}

.signup>div>form>label {
    display: block;
    margin-top: 20px;
}

.signup>div>form>p>span {
    text-decoration: underline;
}

.signup>div>form>p>span:hover {
    color: rgb(0, 119, 255);
    text-decoration: none;
    cursor: pointer;
}

.signup>div>p {
    margin-top: 10px;
}

.signup>div>form>input[type='submit'] {
    margin: 20px 0 10px;
    color: white;
    text-decoration: none;
    background-color: #414467;
    border: 1px solid #414467;
    padding: 10px 15%;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}



/* Signup Page Ends */


/* Shop Page Starts */


.shopPage {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}


.itemProduct {
    border: 1px solid rgb(190, 190, 190);
    padding: 20px;
}

.itemProduct:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.itemProduct>button {
    height: 40px;
    padding: 8px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    line-height: 18px;
    background-color: #414467;
    color: white;
    font-weight: bold;
    float: right;
    left: 250px;
    bottom: 35px;
    margin-top: -38px;
}

.itemProduct>p {
    line-height: 25px;
    font-size: 18px;
    margin-top: 10px;
}

.itemProduct>label {
    font-size: 14px;
}

.itemProduct>h2 {
    margin-top: 15px;
}

.itemProduct>img {
    width: 100%;
}

.itemProduct>button:hover {
    background-color: green;
    transform: scale(1.05);
}

.itemProduct>button:active {
    background-color: gray;
    transform: scale(0.95);
}

.cong {
    width: 90%;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.267);
    margin: 10px 0;
    border-radius: 20px;
    color: green;
    font-weight: bold;
    margin: 20px auto;
}

.info {
    width: 90%;
    padding: 20px;
    background-color: rgba(0, 162, 255, 0.267);
    margin: 10px 0;
    border-radius: 20px;
    color: rgb(0, 108, 158);
    font-weight: bold;
    margin: 20px auto;
}

.rem {
    width: 78%;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.123);
    margin: 10px 0;
    border-radius: 20px;
    color: rgba(255, 0, 0, 0.849);
    font-weight: bold;
    margin: 20px auto;
}

.filterShop {
    margin-left: 2%;
}

.filterShop>select {
    padding: 10px 20px;
    background-color: #202340;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 20px 0 0 10px;
}


/* Shop Page Ends */

/* Cart Page Starts */


.cart>div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
}

.total {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    height: 500px;
}

.total>div {
    text-align: left;

}

.total>input {
    width: 90%;
    margin: 15px auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
}

.cartPage {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
}


.cart>div>div>button {
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    margin: 20px 0;
}

.cart>div>div>img {
    height: 200px;
    margin: auto;
    display: block;
}

.cart>div>div:nth-child(2) {
    padding: 20px 10px;
}


.total>button {
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.mar {
    margin-top: 10px;
}

.total>div>h2 {
    margin-top: 20px;
}

#buyNow {
    background-color: rgb(218, 141, 0);
    width: 90%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: Poppins;
}

button {
    font-family: Poppins;
}

input {
    font-family: Poppins;
}

select {
    font-family: Poppins;
}

button {
    font-family: Poppins;
}

#buyNow:hover {
    transition: ease-in;
    transition-duration: 400ms;
    background-color: rgba(218, 142, 0, 0.456);
    color: rgb(184, 119, 0);
}

#buyNow:active {
    transition: ease-out;
    transition-duration: 500ms;
    transform: scale(0.95);
    background-color: rgb(184, 184, 184);
    color: gray;
}

/* Cart Page Ends */



/* HomePage Starts */
/* .homePage {} */

.banner1 {
    display: block;
    margin: 10px auto;
    width: 100%;
}

.banner2 {
    width: 90%;
    display: block;
    margin: 10px auto;
}

.section1 {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px auto;
}

.section1>div {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    background-color: white;
}


.recentView {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;
}

.recentView>img {
    width: 100%;
    cursor: pointer;
}

.dept>img {
    width: 100%;
    cursor: pointer;
}

.cartStore>img {
    width: 150px;
    margin: 7% auto;
    display: block;
    padding: 15px;
    cursor: pointer;

}

.section1>div:last-child>img {
    width: 100%;
    cursor: pointer;
}

.section1>div:last-child>button {
    width: 100%;
    background-color: #202340;
    margin: 20px 0;
    padding: 8px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.section1>div>h3 {
    font-size: .875rem;
    margin-bottom: 10px;
    margin-bottom: auto;
}

.section1>div p {
    margin-top: auto;
}

.section2 {
    text-align: center;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    padding-bottom: 100px;

}

.section2>div {
    text-align: center;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 60px;
}

.section2>div>div {
    display: grid;
}

.section2>div img {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
}

.section2Banner {
    display: flex;
    justify-content: space-around;
}

.section2 .section2Banner>img {
    width: 27%;
    border: 1px solid gray;
    cursor: pointer;
}

.section2>div>div .brands>img {
    width: 18%;
    border: 2px solid gray;
    padding: 0 30px;
    cursor: pointer;
}

.section2>div>div .brands>img:hover {
    border: 2px solid green;
    transform: scale(1.1);
}

.homePage {
    background-color: #eeeeee;
}

.section3 {
    background-color: white;
    width: 100%;
    box-sizing: initial;
}

.section3>img {
    position: relative;
    width: 180px;
    margin: auto;
    display: block;
    bottom: 80px;
}

.section3>div {
    display: flex;
    width: 80%;
    margin: -40px auto 10px auto;
    padding-bottom: 30px;
    justify-content: space-around;
}

.section4>div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    width: 65%;
    margin: auto;
    margin-top: 20px;
}

.section4 {
    background-color: #d0fdfa;
    margin: 10px 0;
    padding: 30px 0;
    text-align: center;
}

.section4>div>div>img {
    width: 100%;
    border: 10px solid rgba(84, 88, 113, .3);
    border-radius: 50%;
}

.section4>div>div {
    cursor: pointer;
}

.section4>div>div:hover {
    transform: scale(1.05);
}

.section4>div>div>h4 {
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    margin-top: 30px;
}

.footer>img {
    width: 100%;
}

.footer>div>p {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.footer>div {
    padding: 15px;
}

.footer a {
    padding: 0 5px;
    color: gray;
}

.footer a:first-child {
    padding-left: 0px;
}

/* HomePage Ends */




/* Media Queries */
@media only screen and (max-width: 1400px) {
    .searchSection {
        grid-template-columns: 75% 25%;
    }

    .accountSection>div {
        gap: 25px;
    }

    .accountSection>div>div>p {
        opacity: 0;
        position: absolute;
    }

    .signIn {
        max-width: 65%;
        margin: 50px auto;
    }

    .shopPage {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 15px;
    }

    .cartPage {
        grid-template-columns: 2fr 1fr;
    }

    .section2>div {
        grid-template-columns: 2fr 7fr;
    }

    .section2>div>div .brands>img {
        width: 18%;
        border: 2px solid gray;
        padding: 0 20px;
        cursor: pointer;
    }

    .section4>div {
        width: 85%;
    }

}

@media only screen and (max-width: 900px) {


    .accountSection>div {
        gap: 10px;
    }


    .searchSection>div {
        display: flex;
        gap: 15px;
    }



    .searchSection>div>a:nth-child(2)>img {
        width: 45px;
    }

    .searchSection {
        margin-left: 10%;
        margin-right: 10%;
    }

    .accountSection>div>div:nth-child(2) {
        opacity: 0;
        position: absolute;
    }

    .menu>a {
        padding: 0 5px;

    }

    .cate {
        opacity: 0;
        position: absolute;
    }

    .menuSection {
        display: initial;
        text-align: center;
    }

    .signIn {
        max-width: 75%;
        gap: 30px;
    }

    .signup {
        max-width: 75%;
    }

    .shopPage {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 15px;
    }

    .cartPage {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .section1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .section2>div {
        grid-template-columns: repeat(1, 1fr);
    }

    .section2>div img {
        width: 400px;
        margin: auto;
    }

    .brands>img:last-child {
        visibility: hidden;
        position: absolute;
    }

    .section2 .section2Banner>img {
        width: 30%;
    }

    .section2>div>div .brands>img {
        width: 22%;
        border: 2px solid gray;
        padding: 0 30px;
        cursor: pointer;
    }

    .section4>div {
        width: 80%;
    }

    .section4>div {
        grid-template-columns: repeat(4, 1fr);
    }




}


@media only screen and (max-width: 600px) {

    .searchSection {
        grid-template-columns: 80% 20%;
    }

    .accountSection>div {
        gap: 5px;
    }

    .mobileLogo {
        opacity: 1;
        position: initial;
        height: 45px;
    }

    .searchSection>div>img:first-child {
        opacity: 0;
        position: absolute;
    }

    .searchSection {
        margin-left: 5%;
        margin-right: 5%;
    }

    .accountSection>div>div:nth-child(1) {
        opacity: 0;
        position: absolute;
    }

    .signIn {
        max-width: 95%;
        gap: 10px;
    }

    .signIn>div>p {
        line-height: 17px;
    }

    .signup {
        max-width: 90%;
    }

    .itemProduct>button {
        padding: 8px 15px;
    }

    .cart>div {
        display: block;
    }

    .section1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .section2>div img {
        width: 100%;
    }

    .section2>div>div .brands>img,
    .brands {
        padding: 0;
        margin: 10px 0;
    }

    .section2Banner>img:last-child {
        visibility: hidden;
        position: absolute;
    }

    .section2Banner>img {
        width: 45% !important;
    }

    .section4>div {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 700px) {
    .searchSection>div {
        display: flex;
        gap: 40px;
    }

    .searchSection>div>a:first-child {
        opacity: 0;
        position: absolute;
    }

    .mobileLogo {
        opacity: 1;
        position: initial;
        height: 45px;

    }

    .menuSection {
        opacity: 0;
        position: absolute;
    }

    .accountSection {
        margin-bottom: 20px;
    }

    .section2>div>div .brands>img {
        padding: 0 10px;
    }

    .section4>div {
        grid-template-columns: repeat(3, 1fr);
    }

    .section4>div {
        width: 90%;
    }
}